body {
    margin: 0 !important;
    padding: 0 !important;
}

article {
    background-color: #f1f1f1;
    width: 100%;
}

h1 {
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 700px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 a {
    text-decoration: none;
    color: black;

}

.product-container {
    width: 100%;
    height: 580px;

}

.product {
    height: 3600px;
    width: 100%;
}

.product-frame {
    margin-top: 40px;
    height: 400px;
    width: 1210px;
    margin-left: 140px;
    display: flex;
    gap: 25px;
}

.product-list-frame {
    height: 400px;
    width: 285px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

#prod-name a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #1D1D1F;
    line-height: 27px;
    margin-left: 20px;
}

#prod-label {
    width: 55px;
    height: 30px;
    float: right;
    padding: 5px;
}

#prod-img {
    margin-top: 0px;
    margin-left: 25px;
}

#newPrice {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0066CC;
    display: inline;
    margin-left: 20px;
    font-size: 15px;
}

#oldPrice {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    text-decoration: line-through;
    color: rgb(132, 132, 139);
    font-size: 14px;
}

#discount {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: rgb(132, 132, 139);
    font-size: 14px;
}

.view-all-frame {
    margin-top: 30px;
    height: 40px;
}

.view-all-btn-frame {
    margin-left: 640px;
}

.view-all-btn-frame a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #0066CC;
    border-radius: 8px;
    color: #0066CC;
    padding: 10px 45px;
    line-height: 30px;
    font-size: 14px;
}

.view-all-btn-frame a:hover {
    color: #FFFFFF;
    background-color: #0066CC;

}


.promotion {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.promotion-body {
    width: 1210px;
    height: 200px;
    margin-left: 145px;
}

.promotion-frameBanner {
    width: 1210px;
    height: 150px;
    text-align: justify;
    line-height: 24px;
}

.promotion-banner {
    display: flex;
    width: 1210px;
}

.promotion-banner img {
    width: 390px;
    height: 150px;
    padding-right: 20px;
    margin-top: 60px;

}

.service {
    width: 100%;
    height: 450px;

}

.service-body {
    width: 1210px;
    height: 400px;
    margin-left: 145px;
    margin-top: 50px;
}

.service-body img {
    margin: 0px;
    width: 1210px;
}

.new {
    height: 450px;
}

.news-infomation {
    width: 1210px;
    height: 280px;
    margin-left: 145px;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.news-item {
    height: 280px;
    width: 390px;
    border-radius: 8px;
    background-color: white;

}

.picture {
    width: 390px;
    height: 160px;

}

.picture img {
    width: 390px;
    height: 160px;
    margin: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.news-date {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #969494;
}

.header-banner {
    width: 100%;
    height: 455px;
    border: 1px solid black;
}

.header-banner img {
    width: 1520px;
    height: 455px;
}
